.header {
  color: #666666;
}

.login {
  padding: 10rem 0;
}

.loginForm {
  height: 386px;
  width: 396px;
  padding: 1rem;
  border-radius: 10px;
  /* -webkit-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25); */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.btn {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.btnNew {
  width: 55%;
}

.btnGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}
